.team-title {
  font-size: 18px;
  color: blueviolet;
  text-align: center;
}

.team-text {
  font-size: 18px;
  color: rgb(136, 108, 162);
  padding: 50px 100px;
}

.team-member {
  font-size: 18px;
  color: rgb(200, 158, 239);
  padding: 20px 20px;
}
